.container{
    margin-top: 43px;
    width: 634px;
    height: 465px;
    position: relative;
}
img{
    margin: 10px;
    width: 27%;
}
.days_selection{
    width: 100%;
    height: 28%;
    float: left;
    display: flex;
    text-align: center;
    
}