.hypertext a{
    text-decoration: none;
    margin-left:30px;
    
}
.hypertext{
    padding-top: 5px;
}
body{
    background-color: blueviolet;
}
nav{
    background-color: black;
    border-radius: 5px;
    text-color:white;
    height:25px;
}
.body_part{
   float:left;
   padding-left: 25px;
   width:500px;
   margin-left: 10px;
}
.icon_pic{
    float: right;
}
.body_part side_heading{
    font-family: sans-serif Helvetica ;
}
.para{
  font-size: 20px;
  text-indent: 25px;
  
}
.footer{
    width:100%;
    height:30px;
    float: left;
    position: relative;
    top:200px;
}