.course{
    width:97%;
    height:37%;
    margin: 15px;
    border-radius: 7px;
    background-color: white;
    padding-top: 10px;
    text-align: center;
}

img{
    margin-top:20px;
    max-width:90px;
    max-height: 80px;
}
h4{
    margin-top:25px;
    font-family: sans-serif;
 }

h5{
    margin-top: 10px;
    font-family: sans-serif;
    line-height: 20px;
    text-align: center
}
