<div class="body_part">
  <div class="side_heading">WELCOME</div>

  <div class="para">Hello!! My name is Siva Teja and I am a web designer from Hyderabad. I graduated in 2018 with a bachelor’s degree in Computer Science and Intermediate from sasi college. I doing my first job at a virtusa,Hyderabad.</div>

  <div class="para">I completed my btech from MVGR college of engineering in the batch of 2014-2018. i completed my schooling from satya bhama school in Anaparthy.</div>
  </div>
  <div class="icon_pic"><img src="images/profile_pic.jpg" alt="Profile_pic" style="width: 50%; height:25%;">
  </div>