
h3{
    text-align: center;
}
.form-container{
    margin:20px auto;
    width:75%;
}
.form-control{
    width:70% !important;
}
.border_style{
    border: 1px solid red !important;
}
.error{
    color: red;
}

.form-group{
    margin-bottom: 0.7rem !important;
}
.btn{
    float: right;
    margin-right: 80px;
}